<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <!-- Requires IIS: URL Rewrite module 2.x (https://www.iis.net/downloads/microsoft/url-rewrite) -->
    <httpErrors errorMode="Custom" existingResponse="Replace">
      <remove statusCode="404" />
      <error statusCode="404" path="/404.html" responseMode="ExecuteURL" />
    </httpErrors>
    <httpProtocol>
      <customHeaders>
        <add name="X-Content-Type-Options" value="nosniff" />
        <add name="X-Frame-Options" value="SAMEORIGIN" />
      </customHeaders>
    </httpProtocol>
    <rewrite>
      <rules>
        <rule name="legacy-contact-us" stopProcessing="true">
          <match url="^contact-us/?$" />
          <action type="Redirect" url="/contact.html" redirectType="Permanent" />
        </rule>
        <rule name="legacy-faq-dui-penalties" stopProcessing="true">
          <match url="^faq/dui-penalties/?$" />
          <action type="Redirect" url="/dui-penalties.html" redirectType="Permanent" />
        </rule>
        <rule name="legacy-privacy" stopProcessing="true">
          <match url="^privacy/?$" />
          <action type="Redirect" url="/privacy-policy.html" redirectType="Permanent" />
        </rule>
        <rule name="legacy-blog-author-paul-bauer" stopProcessing="true">
          <match url="^blog/author/paul-bauer-baid_13(\.aspx)?/?$" />
          <action type="Redirect" url="/about-paul.html" redirectType="Permanent" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
</configuration>